/* CSS for landing page */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

/* Header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #1F2937;
    color: #f9faf8;
}

.site-logo {
    font-size: 24px;
    font-weight: 700;
}

.site-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.container {
    display: flex;
    gap: 20px;
    padding: 60px 40px;
}

img {
    border-radius: 5px;
}

/* Hero section */
.hero {
    background-color: #1F2937;
    color: #f9faf8;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    align-self: flex-start; /* Stop image stretching by default */
}

button {
    padding: 5px 25px;
    margin-top: 30px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 10px;
}

/* Card section */
.information {
    flex-direction: column;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Quote section */
.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote p {
    text-align: right;
    font-weight: bold;
}