/* CSS for landing page */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

/* Header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #1F2937;
    color: #f9faf8;
}

.site-logo {
    font-size: 24px;
    font-weight: 700;
}

.site-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.container {
    display: flex;
    gap: 20px;
    padding: 60px 20%;
}

img {
    border-radius: 5px;
}

/* Hero section */
.hero {
    background-color: #1F2937;
    color: #f9faf8;
    gap: 60px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    min-width: 250px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 30px;
}

.hero-image {
    align-self: flex-start; /* Stop image stretching by default */
}

button {
    padding: 5px 25px;
    background-color: #3882f6;
    height: 25px;
    color: #e5e7eb;
    border: none;
    border-radius: 5px;
}

/* Card section */
.information {
    flex-direction: column;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.card p {
    margin-top: 10px;
    max-width: 200px;  /* Keep text from overflowing image border */
}

/* Quote section */
.quote {
    flex-direction: column;
    background-color: #e5e7eb;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote p {
    text-align: right;
    font-weight: bold;
}

/* Call-to-Action section */
.call-action {
    justify-content: space-between;
    align-items: center;
    margin: 20px 20%;
    padding: 25px 40px;
    border-radius: 5px; 
    background-color: #3882f6;
    color: #e5e7eb;
}

.button-white-border {
    border: 2px solid #e5e7eb;
}

.call-action-text h3 {
    margin-bottom: 10px; 
}

/* Footer section */
footer {
    text-align: center;
    padding: 20px 40px;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 14px;
}