/* CSS for landing page */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

/* Header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
    background-color: #202b1c;
    color: #f9faf8;
}

.site-logo {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: 900;

}

.site-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.container {
    display: flex;
    gap: 20px;
    padding: 60px 15%;
}

img {
    border-radius: 10px;
    object-fit: cover;
}

/* Hero section */
.hero {
    background-color: #202b1c;
    color: #f9faf8;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero-text {
    width: 340px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    min-width: 250px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 30px;
}

.hero-image {
    align-self: flex-start; /* Stop image stretching by default */
    width: 350px;
    flex: 0 1 0;
}

button {
    padding: 0 25px;
    background-color: #64594c;
    height: 25px;
    color: #e5e7eb;
    border: none;
    border-radius: 5px;
}

/* Card section */
.information {
    flex-direction: column;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.card p {
    margin-top: 10px;
    max-width: 200px;  /* Keep text from hanging over image border */
}

/* Quote section */
.quote {
    flex-direction: column;
    background-color: #e5e7eb;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote p {
    text-align: right;
    font-weight: bold;
}

/* Call-to-Action section */
.call-action {
    justify-content: space-between;
    align-items: center;
    margin: 60px 15%;
    padding: 25px 40px;
    border-radius: 5px; 
    background-color: #867c70;
    color: #e5e7eb;
}

.button-white-border {
    border: 2px solid #e5e7eb;
}

.call-action-text h3 {
    margin-bottom: 10px; 
}

/* Footer section */
footer {
    text-align: center;
    padding: 20px 40px;
    background-color: #202b1c;
    color: #f9faf8;
    font-size: 14px;
}